# Introduction
Welcome to the **[Learn Pandas](https://www.kaggle.com/learn/pandas)** track. These hands-on exercises are targeted for someone who has worked with Pandas a little before. 
Each page has a list of `relevant resources` you can use if you get stumped. The top item in each list has been custom-made to help you with the exercises on that page.

The first step in most data analytics projects is reading the data file. In this section, you'll create `Series` and `DataFrame` objects, both by hand and by reading data files.

# Relevant Resources
* ** [Creating, Reading and Writing Reference](https://www.kaggle.com/residentmario/creating-reading-and-writing-reference)**
* [General Pandas Cheat Sheet](https://assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf)

# Set Up

Run the code cell below to load libraries you will need (including coad to check your answers).

In [3]:
import pandas as pd
pd.set_option('max_rows', 5)
#from learntools.advanced_pandas.creating_reading_writing import *

ModuleNotFoundError: No module named 'learntools'

# Checking Answers

You can check your answers in each of the exercises that follow using the  `check_qN` function provided in the code cell above (replacing `N` with the number of the exercise). For example here's how you would check an incorrect answer to exercise 1:

In [4]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

For the questions that follow, if you use `check_qN` on your answer, and your answer is right, a simple `True` value will be returned.

If you get stuck, you may run the `print(answer_qN())` function to print the answer outright.

# Exercises

**Exercise 1**: Create a `DataFrame` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [6]:
# Your code here
pd.DataFrame({'Apples':[30], 'Bananas':[21]})

   Apples  Bananas
0      30       21

**Exercise 2**: Create the following `DataFrame`:

![](https://i.imgur.com/CHPn7ZF.png)

In [11]:
# Your code here
pd.DataFrame({'Apples':[35, 41], 'Bananas':[21, 34]}, index = ['2017 Sales', '2018 Sales'])

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

**Exercise 3**: Create a `Series` that looks like this:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [14]:
# Your code here
pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour', 'Milk', 'Eggs', 'Spam'], name = 'Dinner')

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

**Exercise 4**: Read the following `csv` dataset on wine reviews into the a `DataFrame`:

![](https://i.imgur.com/74RCZtU.png)

The filepath to the CSV file is `../input/wine-reviews/winemag-data_first150k.csv`.

In [12]:
# Your code here
df = pd.read_csv('winemag-data_first150k.csv', index_col =0)
df.shape
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

**Exercise 5**: Read the following `xls` sheet into a `DataFrame`: 

![](https://i.imgur.com/QZJBIBF.png)

The filepath to the XLS file is `../input/publicassistance/xls_files_all/WICAgencies2014ytd.xls`.

Hint: the name of the method you need inclues the word `excel`. The name of the sheet is `Pregnant Women Participating`. Don't do any cleanup.

In [21]:
# Your code here
test = pd.read_excel('../input/publicassistance/xls_files_all/WICAgencies2014ytd.xls', sheet_name = 'Pregnant Women Participating')
print(test)

    WIC PROGRAM -- NUMBER OF PREGNANT WOMEN PARTICIPATING     ...     Unnamed: 13
0                                     FISCAL YEAR 2014        ...             NaN
1                          Data as of January 05, 2018        ...             NaN
..                                                 ...        ...             ...
104                                                NaN        ...             NaN
105  All data are preliminary and are subject to re...        ...             NaN

[106 rows x 14 columns]

**Exercise 6**: Suppose we have the following `DataFrame`:

In [24]:
q6_df = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])

Save this `DataFrame` to disc as a `csv` file with the name `cows_and_goats.csv`.

In [28]:
# Your code here
check_q6(q6_df.to_csv('cows_and_goats.csv'))

True

**Exercise 7**: This exercise is optional. Read the following `SQL` data into a `DataFrame`:

![](https://i.imgur.com/mmvbOT3.png)

The filepath is `../input/pitchfork-data/database.sqlite`. Hint: use the `sqlite3` library. The name of the table is `artists`.

In [31]:
# Your Code Here
import sqlite3
conn = sqlite3.connect('../input/pitchfork-data/database.sqlite')
artists = pd.read_sql_query('SELECT * FROM artists', conn)
artists.head()
conn = sqlite3.connect("artists.sqlite")
artists.head(10).to_sql("artists", conn)

## Keep going

Move on to the **[indexing, selecting and assigning workbook](https://www.kaggle.com/kernels/fork/587910)**

___
This is part of the [Learn Pandas](https://www.kaggle.com/learn/pandas) series.